<!DOCTYPE html>
<link rel="stylesheet" href="app.css">
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
    </head>
    <body>
        <br>
        <br>
        <br>
        <div style="justify-content: center; display: flex;">
            <img src="https://firebasestorage.googleapis.com/v0/b/restaurant-fc4d0.appspot.com/o/paypal.png?alt=media&token=4bc7ce45-c033-4485-bec2-cbfa97587385"
            width="250" height="75">
        </div>
        <br>
        <div id="inject" style="justify-content: center; display: flex;"></div>
    </body>
</html>